* {
  font-size: 12px;
  font-family: "Fira Code Retina";
}

window#waybar {
  background: none;
}

#custom-waybar-media, #battery, #temperature, #disk, #cpu, #memory, #pulseaudio, #tray, #clock {
  background-color: rgba(0,0,0,.7);
  border-radius: 10px;
  color: #fff;
  padding: 8px 12px;
  margin: 15px 10px 0 0;
  min-width: 45px;
}

#battery {
  min-width: 135px;
}

#battery.charging {
  color: #63B3ED;
  min-width: 65px;
}

#workspaces {
  margin-left: 15px;
}

#clock {
  margin-right: 15px;
}

#temperature.critical {
  color: #ff0000;
}

#pulseaudio {
  background-color: rgba(0,0,0,.7);
  min-width: 25px;
}

#workspaces button {
  border-radius: 10px;
  padding: 1px 8px;
  margin: 15px 5px 0 0;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
}

#workspaces button.focused {
  background-color: rgba(0,0,0,.7);
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}