* {
  font-size: 9pt;
  font-family: "Fira Code Retina";
}

window#waybar {
  background: transparent;
}

#custom-waybar-media, #battery, #temperature, #disk, #cpu, #memory, #pulseaudio, #tray, #network, #clock {
  background-color: rgba(0,0,0,.7);
  border-radius: 8px;
  color: #fff;
  padding: 6px 12px;
  margin: 5px 12px 0 0;
  min-width: 45px;
}

#battery {
  min-width: 96px;
}

#battery.charging {
  color: #63B3ED;
  min-width: 65px;
}

#workspaces {
  margin-left: 15px;
}

#clock {
  margin-right: 15px;
}

#temperature.critical {
  color: #ff0000;
}

#pulseaudio {
  background-color: rgba(0,0,0,.7);
  min-width: 25px;
}

#workspaces button {
  border-radius: 10px;
  padding: 0px 16px;
  margin: 4px 6px 0 0;
  background-color: transparent;
  color: #ffffff;
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
}

#workspaces button.focused, #workspaces button.active {
  background-color: rgba(0,0,0,.7);
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}
