[Unit]
Description=Blueman applet
After=graphical-session-pre.target
PartOf=graphical-session.target

[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/bin/blueman-applet